:root {
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --theme-color: #16222A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    background-color: var(--theme-color);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 90%;
    font-size: 2rem;
    padding-top: 0.8rem;
}

nav {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    display: flex;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #111;
}

.nav-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}
  
.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #111;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
}

.wildlife-desc {
    font-size: 1.4rem;
}

.wildlife-desc h1 {
    margin-bottom: 2rem;
} 

.wildlife-desc p {
    margin-bottom: 1rem;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .6rem;
}

.inner-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .4rem;
    margin-top: .8rem auto;
}

.inner-main h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.inner-main p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.inner-main img {
    width: 100%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.inner-main img:hover {
    cursor: pointer;
}

footer {
    margin-top: 3.5rem;
    font-size: 2rem;
}

@media (min-width: 678px) {
    /* CSS rules go here */
    .main {
        display: flex;
        flex-direction: row;
    }

    .inner-main img {
        width: 90%;
    }

    .wildlife-desc {
        font-size: 2.5rem;
    }
}