.team-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    font-size: 2rem;
    width: 100%;
}

.member {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 7rem;
}

.member img {
    width: 90%;
}

@media (min-width: 678px) {
    .team-members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7rem;
    }
}